.game{
    display: flex;
    text-align: center;
}

.game__infor{
    float: right;
}

li{
    list-style: none;
}

.indam{
    font-weight: bold;
}

.game__infor .game__infor--button{

    margin: 1rem 0 0 1.3rem;
}